extends layout

block content
  h1= title
  table(border=1)
    tr
      th Date
      th Number of users
      th Received (Mb)
      th Sent (Mb)
      -each date in alldates
        tr
          td(style='width: '+(60/2)+'%').
            #{date}
          td #{stats[date].count}
          td #{sprintf(format, stats[date].sent)}
          td #{sprintf(format, stats[date].received)}
