extends layout

block content
  #page-wrap

    #data
      #all-usage.noDisplay
        | !{JSON.stringify(allUsage)}
      #all-dates.noDisplay
        | !{JSON.stringify(allDates)}
      #time-series.noDisplay
        | !{JSON.stringify(timeSeries)}


    h1(align="center") Usage Statistics
    #usage-chart

    h1(align="center") Active Users
    #active-user-chart


    h1(align="center") Users
    table#users.display.compact(cellspacing='0', width='100%', cellpadding="0", border="0")
      thead
        tr
          th Username
          th Register Date
          th Number of connection
          th Total Time(hour)
          th Total Received(Mb)
          th Total Sent(Mb)
      tbody
        -each info, user in users_summary
          tr
            td #{user}
            td #{info.registerdate}
            td #{info.count}
            td #{sprintf('%1.2f', info.totaltime/60/60)}
            td #{sprintf('%1.1f', info.received/1024/1024)}
            td #{sprintf('%1.1f', info.sent/1024/1024)}

    h1(align="center") Recent Sessions
    h3(align="center") Current Time #{currentTime}
    table#sessions.display.compact(cellspacing='0', width='100%', cellpadding="0", border="0")
      thead
        tr
          th Date
          th Time
          th Username
          th Duration(min)
          th Received(Mb)
          th Sent(Mb)
      tbody
        -each session in recentSession
          tr
            td #{session.start.slice(0, 10)}
            -if (typeof session.end != 'undefined')
              td #{session.start.slice(10)} to #{session.end.slice(10)}
            -else
              td #{session.start.slice(10)} to NOW
            td #{session.username}
            -if (typeof session.duration != 'undefined')
              td #{sprintf('%1.1f', session.duration/60)}
              td #{sprintf('%1.1f', session.received/1024/1024)}
              td #{sprintf('%1.1f', session.sent/1024/1024)}
            -else
              td &nbsp;
              td &nbsp;
              td &nbsp;


  script(type="text/javascript", src="/javascripts/usage_chart.js")
  script.
    $(document).ready(function() {
      $('#users').DataTable({
        "iDisplayLength": 15,
        "order":[[1, "desc"]]
      });
      $('#sessions').DataTable({
        "iDisplayLength": 15,
        "order":[[0, "desc"]]
      });

    });
