extends layout

block content
  h1= title
  table(border=1)
    tr
      th Date
      th Number of users
      th Received (Mb)
      th Sent (Mb)
      -each stat, date in stats
        tr
          td(style='width: '+(60/2)+'%').
            #{date}
          td #{stat.count}
          td #{sprintf(format, stat.sent)}
          td #{sprintf(format, stat.received)}
