extends layout

block content

  form(name="input", method="post", action="/showinfo")
    | username:
    input(type="text", name="username")

    input(type="submit", value="Submit")

  -function prettyDate(date){
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -var h = date.getHours();
    -var min = date.getMinutes();
    -return d+' '+m+' '+y+' '+h+':'+min;
  -}

  h1= title
  h2= username
  if sessions
    each session in sessions
      li
        | #{prettyDate(session.start)}
        | ----- #{sprintf(format, session.duration)} 分钟
        | ----- sent #{sprintf(format, session.sent)} Mb
        | ----- received #{sprintf(format, session.received)} Mb
