extends layout

block content

  form(name="input", method="post", action="/user")
    | username:
    input(type="text", name="username")

    input(type="submit", value="Submit")

  -function prettyDate(date){
    -var d = date.getDate();
    -var monthNames = [ "Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec" ];
    -var m = monthNames[date.getMonth()];
    -var y = date.getFullYear();
    -var h = date.getHours();
    -var min = date.getMinutes();
    -return d+' '+m+' '+y+' '+h+':'+min;
  -}

  h1= title
  if sessions[0]
    h2= sessions[0].username
    table(border=1)
      tr
        th Start
        th Duration (分钟)
        th Sent （Mb)
        th Received (Mb)
      - each session in sessions
        tr
          td(style='width: '+(80/2)+'%').
            #{prettyDate(session.start)}
          td #{sprintf(format, session.duration)}
          td #{sprintf(format, session.sent)}
          td #{sprintf(format, session.received)}
